
body{
    margin: 0;
    padding: 0;  
    width: 100vw
}
.btn-con{
    display: grid;
    grid-template-columns: auto auto;
}
#bg-frame{
    width: 100%;
    overflow: hidden;
}

#bg-frame img {
    position: absolute;
    right: -1%;
    top: -3%;
    width: 50%;
    z-index: -2;
}
/* #bg{
} */
#header-section{
    padding-top: 10%;
    margin-bottom: 5%;
}
#cards-section{
    margin-bottom: 10%;
}

#about-app{
    margin-bottom: 25%;
}

#bg img{
    background-size:contain;
    overflow-x: hidden;
}
.navbar{
    padding: 30px 0;
}
.rounded-card{
    border: solid 2px;
    border-radius: 20px;
    padding: 40px 0;
}

h1{
    font-family: var(--lora);
    font-size: 32px;
    font-weight: bold;
}
#header{
    font: var(--lora) 64px bold;
    font-size: 64px;
    font-weight: bold;
}
.icon{
    height: 40px;
    width: 40px;
}
 
.small-button-text{
    font-size: 12px;
    font-family:  'Roboto', sans-serif;
}
.bold-button-text{
    font-size: 16px;
    font-weight: bold;
    font-family:  'Roboto', sans-serif;
}
.app-download{
    width: 274px;
    height: 70px;
    text-align: left;
}

.paragraph-text{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

/* .circle{
    width: 344px;
    height: 344px;
} */
#pattern{
    position: absolute ;
    z-index: -3;
    height: 100%;
    width: auto;
}
#product, #image{
    position: relative;
}
#circle, #shape{
    position: absolute;
}
#phone, #device{
    position: absolute;
}
.dotted-circle{
    border: dotted 2px orange;
    height: 65px;
    width: 65px;
    margin: auto;
    border-radius: 50%;
}

.product-list{
    padding: 10px ;
}

#app-features{
    margin-bottom: 10%;
}
.profile-pics{
    position: relative;
    bottom:60px;
    border: solid 8px;
}
#testimonial-header{
    margin-bottom: 10%;
}

.testimonial-card{
    border: none;
    border-radius: 30px;
    padding: 0 20px 20px 20px ;
}

.rating{
    background-image: url(../images/ant-design_star-filled.svg);
    background-repeat: repeat-x ;
    background-size: contain; 
    height: 40px;
    width: 200px;
    margin: auto;
}

#slider img{
    width: 20%;
}

#slider{
    margin:auto;
    margin: 20px;
    text-align: center;
}
#subscribe, #app-screenshots{
    margin-top: 5%;
}

input {
    padding: 1% 9%;
}



.sub-btn {
    /* margin: 3% 2% 0 0; */
    border: none;
    padding: 1% 4%;
    position: relative;
    right: 14%;
}

/* main{
    background-image: url(../images/Pattern.svg);
    background-size: 40rem;
    background-repeat: no-repeat;
    position: absolute;
    right:-10%;
} */

footer{
    padding:3%
}




@media (max-width: 460px) {
    body{
        display: flex;
        flex-direction: column;
    }
}